# Scala
target

# IntelliJ
*.ipr
*.iws
.idea
.scala_dependencies
.cache
.cache-main

# Eclipse
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

# OS X
.DS_Store

# Sports API credentials

src/main/resources/sportsAPI.properties
dataFiles/
